<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.esm.scheduler">

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application>

        <service
            android:name="com.aware.plugin.esm.scheduler.Plugin"
            android:exported="true"
            android:label="AWARE: ESM Scheduler" />

        <activity
            android:name="com.aware.plugin.esm.scheduler.Settings"
            android:label="AWARE: ESM Scheduler"
            android:exported="true" />

    </application>
</manifest>
