<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.sms">

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application>
        <service
            android:name="com.aware.plugin.sms.Plugin"
            android:label="AWARE: SMS and MMS Export"
            android:exported="true" />

        <activity
            android:name="com.aware.plugin.sms.Settings"
            android:label="AWARE: SMS and MMS Export"
            android:exported="true" />

        <provider
            android:name="com.aware.plugin.sms.Provider"
            android:authorities="${applicationId}.provider.sms"
            android:exported="true"
            android:label="Plugin: SMS"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <service
            android:name="com.aware.plugin.sms.syncadapters.Sms_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_sms" />
        </service>

    </application>
</manifest>
